<a name="top" style="position: absolute; height: 0pt;"></a>
<div id="headerContainer">
	<div class="header">
        <div class="cwru-links">
            <ul id="global-menu">
                <li><a href="http://www.admission.case.edu/apply/">Apply</a>
</li>
                <li><a href="https://securelb.imodules.com/s/1526/index.aspx?sid=1526&amp;gid=1&amp;pgid=327&amp;cid=914">Give</a>
</li>
                <li><a href="http://weatherhead.case.edu/about/visit/">Visit</a>
</li>
                <li><a href="https://www.case.edu/directory/">Directory</a>
</li>
                <li><a href="http://case.edu/">case.edu</a>
</li>
            </ul>
        </div>
        <span id="global-menu-toggle"><i class="fa fa-bars">&#8203;</i>CWRU Links</span>
        
        <a title="Weatherhead School of Management Home" href="http://weatherhead.case.edu/">
        	<img class="logo" src="images/wsom-logo.png" alt="Weatherhead School of Management Logo">
        </a>
        
        <div class="search hidden-xs">        
            <form method="get" name="searchengine" action="http://www.google.com/cse?cx=006457071044915620037%3Aels_bstqree" target="_blank">
                <input name="cx" value="006457071044915620037:els_bstqree" type="hidden">
                <input name="ie" value="UTF-8" type="hidden">
                <input class="searchbox" name="q" size="30" value="search CWRU..." onfocus="if(!$(this).data('haschanged')){this.value=''};$(this).data('haschanged', 'true');" type="text">
                <button type="submit" name="sa" class="search-btn" title="Search"><i class="fa fa-search">&#8203;</i></button>
            </form>
        </div>
    
        <div class="site-title">
            <a href="." editable="true" id="SiteName">Justin Gallagher</a>
        </div>
        <div class="clearfix"></div>
	</div>
</div>

<div class="nav" id="navContainer">
	<a id="mobile-nav-toggle" href="#" class="visible-xs"><i class="fa fa-bars">&#8203;</i>Navigation &amp; Search</a>

    <ul id="navMain" class="dropmenu">
        <li class="visible-xs">
            <div class="search mobile-search">
        
                <form name="m_searchengine" action="http://www.google.com/cse" target="_parent">
                    <input name="cx" value="006457071044915620037:els_bstqree" type="hidden">
                    <input name="ie" value="UTF-8" type="hidden">
                    <input name="q" class="searchbox" size="30" value="search CWRU..." onfocus="if(!$(this).data('haschanged')){this.value=''};$(this).data('haschanged', 'true');" type="text">
					<button type="submit" name="sa" class="search-btn" title="Search"><i class="fa fa-search">&#8203;</i></button> 
                </form>
        
            </div>
        </li>
        {% include navigation.html %}
    </ul>

</div>
